Repository pappasam/toml-sort: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Tests pass, update poetry / readme
  README.md
  mypy.ini
  poetry.lock
  pyproject.toml
Due: none

Fix classifiers
  pyproject.toml
Due: none

Add output CLI option, standardize CLI, add docs
  pyproject.toml
  toml_sort/cli.py
Due: black, pylint, mypy

Update docs to reflect CLI changes
  README.md
  toml_sort/cli.py
Due: black, pylint, mypy

Remove need to explicitly reference - for stdin
  README.md
  output.toml
  toml_sort/cli.py
Due: black, pylint, mypy

Remove unnecessary output.toml
  output.toml
Due: none

Enable sorting only top-level keys
  poetry.lock
  pyproject.toml
  toml_sort/__init__.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Fix tests, add black to tox commands
  poetry.lock
  pyproject.toml
  tests/test_toml_sort.py
Due: black, pylint

Add publish makefile command
  Makefile
Due: none

Update readme / documentation
  README.md
  toml_sort/cli.py
Due: black, pylint, mypy

Add comment about Python interface documentation future plans
  README.md
Due: none

Add version option
  pyproject.toml
  toml_sort/cli.py
Due: black, pylint, mypy

Sort AOT's correctly, add option for super tables
  pyproject.toml
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Update docs for release
  README.md
  toml_sort/cli.py
Due: black, pylint, mypy

Preserve indentation / super tables, remove supertable option
  README.md
  pyproject.toml
  tests/examples/from-toml-lang.toml
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Standardize whitespace / indentation
  README.md
  pyproject.toml
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Make not sorting non-table keys the default with --all
  pyproject.toml
  toml_sort/cli.py
Due: black, pylint, mypy

Shorten help message if passed no arguments, pass to stderr
  toml_sort/cli.py
Due: black, pylint, mypy

Increase version to 0.10.0
  pyproject.toml
Due: none

Stop creating unnecessary lists; return Iterable
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Bump version
  pyproject.toml
Due: none

Retain document's top-level comment
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Fix typing, work around tomlkit bool issue
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Increase version to 0.12.0
  pyproject.toml
Due: none

Clarify readme
  README.md
Due: none

Standardize documentation string
  toml_sort/cli.py
Due: black, pylint, mypy

Option to ignore top-level comments; documentation fixes
  README.md
  pyproject.toml
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Add test for cli defaults; more test to be added soon
  tests/examples/defaults/from-toml-lang.toml
  tests/test_cli.py
Due: black, pylint

Replace "clean_buggy_code" with simpler item()
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Improve TomlSort class documentation
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Fix Container bug for AoT edge case, add test file
  README.md
  pyproject.toml
  tests/examples/defaults/weird.toml
  tests/examples/weird.toml
  tests/test_cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Fix bug involving weird sort order of nested tables
  pyproject.toml
  tests/examples/defaults/pyproject-weird-order.toml
  tests/examples/pyproject-weird-order.toml
  tests/test_cli.py
  toml_sort/tomlsort.py
Due: black, pylint, mypy

Add shields to readme
  README.md
Due: none

Update version
  pyproject.toml
Due: none

Add cli options "check" and "in-place"
  README.md
  pyproject.toml
  toml_sort/cli.py
Due: black, pylint, mypy

Fix examples in readme / cli
  README.md
  toml_sort/cli.py
Due: black, pylint, mypy

Sort pyproject.toml because... toml-sort :p
  pyproject.toml
Due: none

tomlkit>=0.5.8, click>=7.0, add asdf-tox
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
