Repository pappasam/toml-sort: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, poetry-to-requirements

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

poetry-to-requirements:
  name: poetry-to-requirements
  require_serial: true
  entry: make -f Makefile docs/autogen-requirements.txt
  language: system
  pass_filenames: false

Run poetry update
  poetry.lock
Due: poetry-to-requirements

Update black and constrain to Python 3.6.2+
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Migrate to argparse, tests in progress
  pyproject.toml
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Allow pyproject.toml as configuration file
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Remove print
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Upgrade tomlkit to latest version
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Remove click
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Get cli tests to pass with argparse
  tests/test_cli.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Re-add test for multiple files
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

re-add remaining tests
  tests/test_cli.py
Due: black, isort, pylint

Fixes for docs, change back to tomlkit>=0.5.8
  CHANGELOG.md
  Makefile
  docs/cli.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
  toml_sort/cli.py
Due: black, isort, pylint, mypy, poetry-to-requirements

Drop python 3.6 support, tomlkit>=0.8.0
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Add quotes around "3.10"
  .github/workflows/testing.yaml
Due: none

Remove windows tests
  .github/workflows/testing.yaml
Due: none

Update docs requirements file
  Makefile
  docs/autogen-requirements.txt
Due: none

Remove mention of Python version in readme text
  README.md
Due: none

Merge 2
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Remove entrypoint, make arguments optional
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Target cli, not entrypoint, and swap 36 with 310
  pyproject.toml
Due: none

Upgrade dev dependencies
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Further work
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Further work
  pyproject.toml
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Remove toml modification
  pyproject.toml
Due: none

README
  README.md
Due: none

tests
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Fixes
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Update changelog
  CHANGELOG.md
Due: none

poetry update dependencies
  docs/autogen-requirements.txt
  poetry.lock
Due: poetry-to-requirements

Update poetry and pip versions
  .github/workflows/release.yaml
Due: none

Keep Bool inline comments
  tests/examples/defaults/from-toml-lang.toml
  tests/examples/from-toml-lang.toml
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Fix a typo in tests
  tests/examples/defaults/from-toml-lang.toml
  tests/examples/from-toml-lang.toml
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

fixes #29
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Update poetry.lock, bump version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Update release file
  .github/workflows/release.yaml
Due: none

Update toml-sort to handle inline comments
  tests/conftest.py
  tests/examples/comment.toml
  tests/examples/sorted/comment-comments-preserved.toml
  tests/examples/sorted/comment-header-footer.toml
  tests/examples/sorted/comment-no-comments.toml
  tests/examples/sorted/from-toml-lang.toml
  tests/examples/sorted/pyproject-weird-order.toml
  tests/examples/sorted/weird.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Update documentation
  README.md
  tests/examples/sorted/from-toml-lang.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Add additional test case
  tests/examples/sorted/comment-header-footer.toml
  tests/test_cli.py
  tests/test_toml_sort.py
Due: black, isort, pylint

Fix merge conflict
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Code review feedback.
  README.md
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  poetry-to-requirements: any of: ^poetry.lock$
