Repository pappasam/toml-sort: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

chore(pyproject): sort keys
  .pre-commit-config.yaml
Due: none

Make sure that tomlkit types are not making it into configuration.
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Add a test.
  tests/test_cli.py
Due: black, isort, pylint

poetry update
  poetry.lock
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Fix example comment so docformatter passes
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add docformatter and isort to tox tests
  pyproject.toml
Due: none

Update release publishing mechanism
  .github/workflows/release.yaml
Due: none

add inner spacing to inline objects (non-empty)
  tests/examples/sorted/inline-default.toml
  tests/examples/sorted/inline-no-comments-no-table-sort.toml
  tests/examples/sorted/inline.toml
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Only write to disk if file contents changed
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Modernize tests, fix test errors
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  Makefile
  README.md
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  readthedocs.yaml
  tests/conftest.py
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/__init__.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Fix actions
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Finish changelog updates
  CHANGELOG.md
Due: none

Update homepage in pyproject.toml
  pyproject.toml
Due: none

Remove unused files
  .pylintrc
  docs/autogen-requirements.txt
  docs/cli.rst
  docs/conf.py
  docs/index.rst
  docs/modules.rst
Due: black, isort, pylint, mypy

Change 3.7 to 3.9 in readme
  README.md
Due: none

Re-add pre-commit-hooks
  .pre-commit-hooks.yaml
Due: none

Remove pre-commit install step
  Makefile
Due: none

Remove asdf recommendation
  README.md
Due: none

gha: setup-python@v4 -> setup-python@v5
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Make gha consistent
  .github/workflows/release.yaml
Due: none

tests: add new "first" key test case
  tests/examples/from-toml-lang.toml
  tests/examples/sorted/from-toml-lang-first.toml
  tests/examples/sorted/from-toml-lang-overrides.toml
  tests/examples/sorted/from-toml-lang.toml
  tests/test_toml_sort.py
Due: black, isort, pylint

Fix sorting "first" keys for inline tables
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Bump version, update changelog, readme tweaks
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

Remove python 4 max cap from pyproject.toml
  pyproject.toml
Due: none

poetry lock --no-update
  poetry.lock
Due: none

fix: remove redundant condition in single file write logic
  toml_sort/cli.py
Due: black, isort, pylint, mypy

fix python version badge and link
  README.md
Due: none

Handle dotted keys in inline tables correctly
  tests/examples/gradle-version-catalog.toml
  tests/examples/sorted/gradle-version-catalog.toml
  tests/test_toml_sort.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

prepare for 0.24.3 release
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

formatting fixes
  toml_sort/cli.py
Due: black, isort, pylint, mypy

add Python 3.13 to gha tests
  .github/workflows/testing.yaml
Due: none

feat: support .tomlsort.toml configuration
  README.md
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Refactor workflows
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Excluding lock files from pre-commit hooks
  .pre-commit-hooks.yaml
Due: none

bump changelog, update version
  CHANGELOG.md
  pyproject.toml
Due: none

use tomlrt
  .github/workflows/testing.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/examples/sorted/comment-header-footer.toml
  tests/examples/sorted/from-toml-lang-first.toml
  tests/examples/sorted/from-toml-lang-overrides.toml
  tests/examples/sorted/from-toml-lang.toml
  tests/examples/sorted/gradle-version-catalog.toml
  tests/examples/sorted/inline-default.toml
  tests/examples/sorted/inline-no-comments-no-table-sort.toml
  tests/examples/sorted/inline.toml
  tests/examples/sorted/weird.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

discard orphan comments
  tests/examples/sorted/comment-header-footer.toml
  tests/examples/sorted/from-toml-lang-first.toml
  tests/examples/sorted/from-toml-lang-overrides.toml
  tests/examples/sorted/from-toml-lang.toml
  tests/examples/sorted/inline-default.toml
  tests/examples/sorted/inline.toml
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy
