Repository pappasam/toml-sort: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, poetry-to-requirements

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/
  - repo: local
    hooks:
    - id: poetry-to-requirements
      name: poetry-to-requirements
      require_serial: true
      entry: make -f Makefile docs/autogen-requirements.txt
      language: system
      pass_filenames: false
      files: ^poetry.lock$

Line length in README
  README.md
Due: none

Fix out of date comment.
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add no_comments option to config file
  README.md
  toml_sort/cli.py
Due: black, isort, pylint, mypy

README formatting / small wording fixes
  README.md
Due: none

spaces_before_comment -> spaces_before_inline
  README.md
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Test 3.11 explicitly, update test dependencies
  .github/workflows/testing.yaml
  .pylintrc
  poetry.lock
  pyproject.toml
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy, poetry-to-requirements

Bump version number, update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Add ability to sort inline tables and arrays
  README.md
  tests/examples/inline.toml
  tests/examples/sorted/comment-comments-preserved.toml
  tests/examples/sorted/comment-header-footer.toml
  tests/examples/sorted/comment-no-comments.toml
  tests/examples/sorted/from-toml-lang.toml
  tests/examples/sorted/inline-default.toml
  tests/examples/sorted/inline-no-comments-no-table-sort.toml
  tests/examples/sorted/inline.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add additional options
  tests/examples/sorted/inline-no-comments-no-table-sort.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Update README
  README.md
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Fix indexError exception
  tests/examples/inline.toml
  tests/examples/sorted/inline-default.toml
  tests/examples/sorted/inline-no-comments-no-table-sort.toml
  tests/examples/sorted/inline.toml
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Update changelog, bump version
  CHANGELOG.md
  pyproject.toml
Due: none

Fix typos
  README.md
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Add toml-sort-fix pre-commit hook
  .pre-commit-hooks.yaml
Due: none

Bump version, update changelog, poetry update
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

tomlkit compatibility 0.11.2+, bump version & update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

Fix TypeError thrown when using dotted keys.
  tests/examples/dotted-key.toml
  tests/examples/sorted/dotted-key.toml
  tests/test_toml_sort.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Simplify logic slightly
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Use pydantic for configuration validation.
  .pylintrc
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  toml_sort/cli.py
  toml_sort/settings.py
Due: black, isort, pylint, mypy, poetry-to-requirements

Better class naming
  toml_sort/cli.py
  toml_sort/settings.py
Due: black, isort, pylint, mypy

Remove platform setting, to enable running tests on a mac.
  pyproject.toml
Due: none

Replace with old style union for compatibility.
  toml_sort/settings.py
Due: black, isort, pylint, mypy

Stop adding trailing whitespace to blank comments
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: poetry-to-requirements

Bump version to 0.22.4
  CHANGELOG.md
  pyproject.toml
Due: none

Resolve header comment being doubled.
  tests/examples/single-comment.toml
  tests/test_toml_sort.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add test for empty document
  tests/examples/empty.toml
  tests/examples/sorted/empty.toml
  tests/test_toml_sort.py
Due: black, isort, pylint

Discard all leading whitespace
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add ability to override settings on a per-key basis in the pyproject config.
  tests/examples/sorted/from-toml-lang-overrides.toml
  tests/test_cli.py
  tests/test_toml_sort.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add some documentation
  README.md
Due: none

Fixup readme
  README.md
Due: none

Reformat comment
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add first support for overriding ordering
  tests/examples/sorted/from-toml-lang-first.toml
  tests/test_toml_sort.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Add sort-first to cli
  README.md
  tests/test_cli.py
  toml_sort/cli.py
Due: black, isort, pylint, mypy

Allow cli sort-first argument to take dotted keys.
  tests/test_cli.py
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

Make first non-optional for SortOverrideConfiguration
  toml_sort/cli.py
  toml_sort/tomlsort.py
Due: black, isort, pylint, mypy

poetry update, bump version, update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements

chore(pyproject): sort keys
  Makefile
  pyproject.toml
Due: none

chore(pyproject): sort keys
  .pre-commit-config.yaml
Due: none
